*{
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
}

body{
    background-color: #131313;
    font-size: 1.2rem;
}
.light-mode{
    background-color: white;
    color: black;
}
.dark-mode{
    background-color: #131313;
    color: white;
}
.mainDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.row{  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    transition: all 0.3 ease; 
    border-radius: 40px;
    border-style: none;
    background: #56ab2f;
    width: 13vw; 
    height: 8vh;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  
    background: linear-gradient(to right, #a8e063, #56ab2f);
}
.trabajo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    transition: all 0.3 ease; 
    border-radius: 40px;
    border-style: none;
    background: #56ab2f;
    width: 30vw; 
    height: 8vh;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  
    background: linear-gradient(to right, #a8e063, #56ab2f);
}
p{
    color: white;
    font-size: xx-large;
}
@media (max-width:781px){
    .botones{
        width: 45vw; 
        height: 8vh;
    }
}

[aria-current="page"]{
    pointer-events: none;
    cursor: default;
    background: grey;
}
a{
    font-size: xx-large;
    color: #fff;
    transition: all 0.3s ease;
}
a:hover{
    color: #131313;
    transition: all 0.3 ease;
}
a.iconos{
    padding: 10vh 4vw 2vh 4vw;
    font-size: xx-large;
    border-radius: 40px;
    border-style: none;
    color: #fff;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  
    background: linear-gradient(to right, #a8e063, #56ab2f);
}

.titulo{
    font-size: x-large;
    margin-bottom: 5rem;
    color: #fff;
    padding-top: 3.5vh;
    text-align: center;
}
.titulo span{
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sinCuadro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.formulario{
    padding: 0.5rem 2rem;
    color: white;
}
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

@media (max-width: 992px){
    .row{
        flex-direction: column;
    }
    .titulo{
        text-align: center;
    }
}
